[run]
omit = 
    */RCAIDE/Framework/External_Interfaces/*
    */RCAIDE/Framework/Analyses/Aerodynamics/SU2_Euler.py/*
    */RCAIDE/Library/Methods/Aerodynamics/Athena_Vortex_Lattice/*
    */RCAIDE/Library/Methods/Emissions/Chemical_Reactor_Network_Method/*
    */RCAIDE/Library/Methods/Aerodynamics/SU2/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass 